@{
    @model TheProjector.Data.ViewModels.ProjectViewViewModel;
ViewData["Title"] = @Model.BasicInfo.Name;
}

<div>
    <div class="mb-3">
        <h4>@Model.BasicInfo.Name</h4>
        <h5 class="text-muted">@Model.BasicInfo.Code</h5>
    </div>

    <p title="@Model.BasicInfo.Budget" class="mb-3">Budget: @Model.BasicInfo.BudgetShortHand</p>

    <h5>Remarks</h5>
    <p>@(Model.BasicInfo.Remarks ?? "None")</p>
    <hr />
    <div class="col-mb-2">
        <p>Assign People</p>
        <form id="assign-person" asp-action="AssignPerson" class="row">
            <div class="col-sm-10 col-md-11">
                <select name="PersonId" class="form-select">
                    <option disabled value="0" selected>None Selected</option>
                    @if (Model.AssignablePeople != null)
                    {
                        @foreach (var person in Model.AssignablePeople)
                        {
                            <option value="@person.Id">@person.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-2 col-md-1">
                <input type="submit" value="Assign" class="btn btn-primary">
            </div>
        </form>
        <div id="person-assignment-errors">

        </div>
    </div>
</div>

@section Scripts {
    <script>
        function clearAssignmentErrors() {
            $("#person-assignment-errors").html("");
        }

        $("form#assign-person").submit(function (e) {
            e.preventDefault();
            clearAssignmentErrors();
            let $form = $(e.target);
            let $selectedOption = $form.find("option:selected");
            console.debug($form);
            console.debug("selected option:", $selectedOption.val());
            if ($selectedOption.val() === "0") {
                window.alert("Please select a person to assign.");
            }
            $.post(
                $form.attr('action'),
                $form.serialize(),
                function (data) {
                    $selectedOption.remove();
                    window.alert("The Person is successfully assigned to the project");
                }
            ).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 400) {
                    let errors = jqXHR.responseJSON;

                    for (var key in errors) {
                        $("#person-assignment-errors").append(
                            $("<p class='text-danger'></p>").html(errors[key])
                        );
                    }
                }
            });
        })

    </script>
}